Screen {

background: blue;
overflow: auto;

}

#in {

width: 100%;
border: white;
dock: top;
margin-left: 1;
margin-right: 1;

}


#op {

align: left middle;
width: 30%;
height: 80%;
border: white;
dock: left;
margin-left: 1;



}


#opp {

align: right middle;
width: 66%;
height: 80%;
border: white;
dock:left;
margin-right: 1;


}

